@import "tailwindcss";
body{
  height: 100%;
  width: 100%;
   background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://media.istockphoto.com/id/1212911887/photo/futuristic-digital-block-chain-background.jpg?s=612x612&w=0&k=20&c=tqxa6bZg8XBo_J6h2waJrBZ2UdTeEtzOlRUcM9sDkMc= ") no-repeat center / cover;
 }
html, body, #root {
   height: 100%;
  width: 100%;
}